In [20]:
import pandas as pd

df = pd.read_csv('../../data/mindtrails/action_log.csv')

df['income'] = df['income'].str.replace("$","",regex=False).str.replace(",","",regex=False).str.replace(" through ", "-", regex=False)

In [40]:
df

,participant_id,action_name,date.x,latency,session_name,study_name,task_name,date.y,session,time_on_page,birth_year,country,education,employment_stat,ethnicity,gender,income,marital_stat
0,2071,wrongWill,2020-10-09 20:32:00,2542,PostFollowUp,TET,Wellness,2020-04-29 16:55:09,preTest,96.447,1979.0,United States,Bachelor's Degree,Homemaker/keeping house or raising children fu...,Not Hispanic or Latino,Female,12000-15999,"Single,marriagelike"
1,2071,wrongWill,2020-10-09 20:32:02,2575,PostFollowUp,TET,Wellness,2020-04-29 16:55:09,preTest,96.447,1979.0,United States,Bachelor's Degree,Homemaker/keeping house or raising children fu...,Not Hispanic or Latino,Female,12000-15999,"Single,marriagelike"
2,2071,compActWilling,2020-10-09 20:32:15,5749,PostFollowUp,TET,Mechanisms,2020-04-29 16:55:09,preTest,96.447,1979.0,United States,Bachelor's Degree,Homemaker/keeping house or raising children fu...,Not Hispanic or Latino,Female,12000-15999,"Single,marriagelike"
3,2071,elevator_NS,2020-10-09 20:18:08,28523,PostFollowUp,TET,RR,2020-04-29 16:55:09,preTest,96.447,1979.0,United States,Bachelor's Degree,Homemaker/keeping house or raising children fu...,Not Hispanic or Latino,Female,12000-15999,"Single,marriagelike"
4,2071,pleasure,2020-10-09 20:31:10,5522,PostFollowUp,TET,Comorbid,2020-04-29 16:55:09,preTest,96.447,1979.0,United States,Bachelor's Degree,Homemaker/keeping house or raising children fu...,Not Hispanic or Latino,Female,12000-15999,"Single,marriagelike"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240232,3715,howOften,2020-11-27 13:59:51,11967,preTest,TET,Comorbid,2020-11-27 13:36:23,preTest,88.987,1970.0,United States,Some College,Retired,Not Hispanic or Latino,Male,50000-74999,Separated
240233,3715,numberOfDrinks,2020-11-27 13:59:58,6410,preTest,TET,Comorbid,2020-11-27 13:36:23,preTest,88.987,1970.0,United States,Some College,Retired,Not Hispanic or Latino,Male,50000-74999,Separated
240234,3715,sixOrMore,2020-11-27 14:00:04,5917,preTest,TET,Comorbid,2020-11-27 13:36:23,preTest,88.987,1970.0,United States,Some College,Retired,Not Hispanic or Latino,Male,50000-74999,Separated
240235,3715,satisfaction,2020-11-27 14:00:27,21084,preTest,TET,Wellness,2020-11-27 13:36:23,preTest,88.987,1970.0,United States,Some College,Retired,Not Hispanic or Latino,Male,50000-74999,Separated
240236,3715,accomplishTasks,2020-11-27 14:00:43,15692,preTest,TET,Wellness,2020-11-27 13:36:23,preTest,88.987,1970.0,United States,Some College,Retired,Not Hispanic or Latino,Male,50000-74999,Separated

In [32]:
row = next(df.sort_values(["date.x"]).iterrows())

In [39]:
row

(7162,
 participant_id                       2368
 action_name                   PosFeelings
 date.x                2020-09-08 11:29:06
 latency                              5864
 session_name                 fifthSession
 study_name                           GIDI
 task_name                          Affect
 date.y                2020-08-02 14:29:58
 session                           preTest
 time_on_page                       84.642
 birth_year                         1951.0
 country                     United States
 education                 Master's Degree
 employment_stat         Working part-time
 ethnicity          Not Hispanic or Latino
 gender                               Male
 income                                555
 marital_stat                      Married
 Name: 7162, dtype: object)